.container  {
    padding-top: 200px;
}
button{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px
}

#seasonList{
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    display:inline-block;
}
#teamIDList{
    width: 200px;
    height: 50px;
    overflow-y: scroll;
}

#container{
    width: 700px;
    border: 15px solid black;
    padding-left: 50px;
    padding-top: 50px;
    margin-left: 20px;
    /*margin-right: 0px;*/
}

table {
    padding-left: 0px;
    padding-bottom: 120px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    display:inline-block;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#topBox{
    width: 80%;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
}

#bottomBox{
    width: 80%;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
}
#predictBox{
    float: left;
}